* {
  -webkit-transition: 2s;
  transition: 2s;
}

.visually-hidden:not(focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  background: linear-gradient(45deg, #020006, #0f2035, #172e49);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

html textarea, html input {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.site-contacts__item {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.conteiner {
  max-width: 1305px;
  margin: auto;
  padding: 0 10px;
  /* header */
  /* 1st block */
  /* products */
}

@media (min-width: 1025px) {
  .conteiner {
    padding: 0;
  }
}

.conteiner .header-conteiner {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  padding: 30px 15px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 320px) {
  .conteiner .header-conteiner .main-header-logo img {
    width: 130px;
  }
}

@media (min-width: 720px) {
  .conteiner .header-conteiner .main-header-logo img {
    width: 300px;
  }
}

.conteiner .header-conteiner .navigation {
  margin-left: auto;
}

@media (min-width: 1024px) {
  .conteiner .header-conteiner .contacts {
    margin-left: auto;
  }
}

@media (min-width: 1035px) {
  .conteiner .header-conteiner .contacts {
    margin-left: 0;
  }
}

@media (min-width: 320px) {
  .conteiner .header-conteiner .navigation,
  .conteiner .header-conteiner .contacts {
    display: none;
  }
}

@media (min-width: 1050px) {
  .conteiner .header-conteiner .navigation,
  .conteiner .header-conteiner .contacts {
    display: block;
  }
}

.conteiner .header-conteiner .site-nav__active,
.conteiner .header-conteiner .site-cont__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conteiner .header-conteiner .site-contacts a {
  color: #0087c8;
  text-decoration: none;
}

.conteiner .header-conteiner .site-contacts li {
  cursor: pointer;
  font-size: 16px;
  border-radius: 35px;
  padding: 10px 20px;
  text-align: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.conteiner .header-conteiner .site-contacts li:hover, .conteiner .header-conteiner .site-contacts li:focus {
  background-color: rgba(71, 72, 73, 0.3);
}

.conteiner .header-conteiner .site-contacts li:hover a, .conteiner .header-conteiner .site-contacts li:focus a {
  color: #ffffff;
}

.conteiner .header-conteiner .site-contacts li:nth-last-child(1) {
  border: 2px solid #0087c8;
  color: #0087c8;
  text-transform: uppercase;
  border-radius: 35px;
  padding: 15px 28px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  opacity: 1;
}

.conteiner .header-conteiner .site-contacts li:nth-last-child(1):hover, .conteiner .header-conteiner .site-contacts li:nth-last-child(1):focus {
  background-color: #0087c8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  color: #ffffff;
}

.conteiner .header-conteiner .site-contacts li:nth-last-child(1):hover a, .conteiner .header-conteiner .site-contacts li:nth-last-child(1):focus a {
  color: #ffffff;
}

.conteiner .header-conteiner .site-contacts .reCall {
  margin-left: 15px;
}

.conteiner .header-conteiner .site-navigation a {
  color: #42515b;
  text-decoration: none;
}

.conteiner .header-conteiner .site-navigation li {
  cursor: pointer;
  font-size: 16px;
  border-radius: 35px;
  text-align: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.conteiner .header-conteiner .site-navigation li:hover, .conteiner .header-conteiner .site-navigation li:focus {
  background-color: rgba(71, 72, 73, 0.3);
}

.conteiner .header-conteiner .site-navigation li:hover a, .conteiner .header-conteiner .site-navigation li:focus a {
  color: #ffffff;
}

.conteiner .header-conteiner .site-navigation li a {
  padding: 0 15px;
}

.conteiner .promoution {
  background-image: url(../images/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  max-height: 660px;
  margin: auto;
  max-width: 1205px;
}

@media (min-width: 320px) {
  .conteiner .promoution {
    background-position: bottom;
  }
}

@media (min-width: 667px) {
  .conteiner .promoution {
    background-position: right;
  }
}

.conteiner .promoution h1 {
  font-weight: bold;
  color: #0087c8;
  padding-left: 20px;
}

@media (min-width: 320px) {
  .conteiner .promoution h1 {
    font-size: 25px;
    line-height: 30px;
  }
}

@media (min-width: 813px) {
  .conteiner .promoution h1 {
    font-size: 70px;
    line-height: 100px;
  }
}

.conteiner .promoution h3 {
  color: #ffffff;
  padding-left: 20px;
}

@media (min-width: 320px) {
  .conteiner .promoution h3 {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 813px) {
  .conteiner .promoution h3 {
    font-size: 20px;
    line-height: 30px;
  }
}

.conteiner .promoution p {
  color: #42515b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 320px) {
  .conteiner .promoution p {
    font-size: 14px;
    line-height: 16px;
    padding: 0 15px;
  }
}

@media (min-width: 813px) {
  .conteiner .promoution p {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
  }
}

.conteiner .products {
  margin: auto;
  max-width: 1205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 375px) {
  .conteiner .products .owl-stage {
    margin-left: 33px;
  }
}

@media (min-width: 736px) {
  .conteiner .products .owl-stage {
    margin-left: 15px;
  }
}

@media (min-width: 800px) {
  .conteiner .products .owl-stage {
    margin-left: 30px;
  }
}

@media (min-width: 813px) {
  .conteiner .products .owl-stage {
    margin-left: 0;
  }
}

@media (min-width: 320px) {
  .conteiner .products .manufacture,
  .conteiner .products .agrochemicals,
  .conteiner .products .food-fluid,
  .conteiner .products .industrial-fluid,
  .conteiner .products .household-chemicals,
  .conteiner .products .building-fluid,
  .conteiner .products .auto-chemicals,
  .conteiner .products .medical_indastry,
  .conteiner .products .caps {
    max-width: 300px;
    min-height: 350px;
    margin-bottom: 0;
  }
}

@media (min-width: 550px) {
  .conteiner .products .manufacture,
  .conteiner .products .agrochemicals,
  .conteiner .products .food-fluid,
  .conteiner .products .industrial-fluid,
  .conteiner .products .household-chemicals,
  .conteiner .products .building-fluid,
  .conteiner .products .auto-chemicals,
  .conteiner .products .medical_indastry,
  .conteiner .products .caps {
    max-width: 230px;
    min-height: 300px;
    margin-bottom: 0;
  }
}

@media (min-width: 736px) {
  .conteiner .products .manufacture,
  .conteiner .products .agrochemicals,
  .conteiner .products .food-fluid,
  .conteiner .products .industrial-fluid,
  .conteiner .products .household-chemicals,
  .conteiner .products .building-fluid,
  .conteiner .products .auto-chemicals,
  .conteiner .products .medical_indastry,
  .conteiner .products .caps {
    max-width: 320px;
  }
}

.conteiner .products .manufacture h3,
.conteiner .products .agrochemicals h3,
.conteiner .products .food-fluid h3,
.conteiner .products .industrial-fluid h3,
.conteiner .products .household-chemicals h3,
.conteiner .products .building-fluid h3,
.conteiner .products .auto-chemicals h3,
.conteiner .products .medical_indastry h3,
.conteiner .products .caps h3 {
  height: 66px;
  font-weight: bold;
  color: #0087c8;
  text-align: center;
  line-height: 30px;
}

@media (min-width: 320px) {
  .conteiner .products .manufacture h3,
  .conteiner .products .agrochemicals h3,
  .conteiner .products .food-fluid h3,
  .conteiner .products .industrial-fluid h3,
  .conteiner .products .household-chemicals h3,
  .conteiner .products .building-fluid h3,
  .conteiner .products .auto-chemicals h3,
  .conteiner .products .medical_indastry h3,
  .conteiner .products .caps h3 {
    font-size: 20px;
    padding-top: 20px;
  }
}

@media (min-width: 813px) {
  .conteiner .products .manufacture h3,
  .conteiner .products .agrochemicals h3,
  .conteiner .products .food-fluid h3,
  .conteiner .products .industrial-fluid h3,
  .conteiner .products .household-chemicals h3,
  .conteiner .products .building-fluid h3,
  .conteiner .products .auto-chemicals h3,
  .conteiner .products .medical_indastry h3,
  .conteiner .products .caps h3 {
    font-size: 24px;
    padding-top: 0px;
  }
}

.conteiner .products .manufacture .picture__conteiner {
  background-color: #ffffff;
  border: 3px solid #0087c8;
  border-radius: 50%;
  width: 260px;
  height: 260px;
  margin: auto;
}

@media (min-width: 320px) {
  .conteiner .products .manufacture .picture__conteiner {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 550px) {
  .conteiner .products .manufacture .picture__conteiner {
    width: 200px;
    height: 200px;
  }
}

.conteiner .products .manufacture .picture__conteiner img {
  width: 45%;
  display: block;
  margin: auto;
  margin-top: 15%;
}

.conteiner .products .food-fluid .picture__conteiner,
.conteiner .products .industrial-fluid .picture__conteiner,
.conteiner .products .household-chemicals .picture__conteiner,
.conteiner .products .building-fluid .picture__conteiner,
.conteiner .products .auto-chemicals .picture__conteiner,
.conteiner .products .medical_indastry .picture__conteiner,
.conteiner .products .agrochemicals .picture__conteiner {
  background-color: #ffffff;
  border: 3px solid #0087c8;
  border-radius: 50%;
  width: 260px;
  height: 260px;
  margin: auto;
}

@media (min-width: 320px) {
  .conteiner .products .food-fluid .picture__conteiner,
  .conteiner .products .industrial-fluid .picture__conteiner,
  .conteiner .products .household-chemicals .picture__conteiner,
  .conteiner .products .building-fluid .picture__conteiner,
  .conteiner .products .auto-chemicals .picture__conteiner,
  .conteiner .products .medical_indastry .picture__conteiner,
  .conteiner .products .agrochemicals .picture__conteiner {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 550px) {
  .conteiner .products .food-fluid .picture__conteiner,
  .conteiner .products .industrial-fluid .picture__conteiner,
  .conteiner .products .household-chemicals .picture__conteiner,
  .conteiner .products .building-fluid .picture__conteiner,
  .conteiner .products .auto-chemicals .picture__conteiner,
  .conteiner .products .medical_indastry .picture__conteiner,
  .conteiner .products .agrochemicals .picture__conteiner {
    width: 200px;
    height: 200px;
  }
}

.conteiner .products .food-fluid .picture__conteiner img,
.conteiner .products .industrial-fluid .picture__conteiner img,
.conteiner .products .household-chemicals .picture__conteiner img,
.conteiner .products .building-fluid .picture__conteiner img,
.conteiner .products .auto-chemicals .picture__conteiner img,
.conteiner .products .medical_indastry .picture__conteiner img,
.conteiner .products .agrochemicals .picture__conteiner img {
  width: 56%;
  display: block;
  margin: auto;
  margin-top: 15%;
}

.conteiner .products .owl-stage {
  margin-bottom: 30px;
}

.conteiner .products .owl-nav,
.conteiner .products .owl-dots {
  display: none;
}

/* other */
.range,
.range__popUp,
.individual-orders,
.about-us {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 30px;
}

.range h3,
.range__popUp h3,
.individual-orders h3,
.about-us h3 {
  font-weight: bold;
  color: #0087c8;
  margin: 0;
  padding: 10px;
}

@media (min-width: 320px) {
  .range h3,
  .range__popUp h3,
  .individual-orders h3,
  .about-us h3 {
    font-size: 20px;
    line-height: 18px;
    text-align: center;
  }
}

@media (min-width: 813px) {
  .range h3,
  .range__popUp h3,
  .individual-orders h3,
  .about-us h3 {
    font-size: 30px;
    line-height: 14px;
  }
}

.range p,
.range__popUp p,
.individual-orders p,
.about-us p {
  color: #42515b;
  text-transform: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.range .flex__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.range .flex__conteiner p {
  margin: 30px 0;
  padding-left: 15px;
}

@media (min-width: 320px) {
  .range .flex__conteiner p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 100;
    width: 100%;
    padding: 0 15px;
  }
}

@media (min-width: 736px) {
  .range .flex__conteiner p {
    padding: 0;
    font-size: 20px;
    line-height: 28px;
    font-weight: 200;
  }
}

@media (min-width: 813px) {
  .range .flex__conteiner p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 200;
    padding: 0;
    width: 50%;
  }
}

.range .flex__conteiner .range__picture {
  margin: auto;
}

@media (min-width: 320px) {
  .range .flex__conteiner .range__picture {
    width: 100%;
  }
}

@media (min-width: 813px) {
  .range .flex__conteiner .range__picture {
    width: 50%;
  }
}

.range .flex__conteiner .range__picture img {
  max-width: 80%;
  margin: auto;
  display: block;
}

.range button {
  cursor: pointer;
  display: block;
  color: #ffffff;
  text-decoration: none;
  margin: auto;
  margin-top: 30px;
  border: 2px solid #0087c8;
  color: #0087c8;
  text-transform: uppercase;
  border-radius: 35px;
  padding: 15px 28px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  opacity: 1;
}

.range button:hover, .range button:focus {
  background-color: #0087c8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  color: #ffffff;
}

.range button:hover a, .range button:focus a {
  color: #ffffff;
}

@media (min-width: 736px) {
  .range button {
    margin: 0;
  }
}

.range__popUp {
  display: none;
}

.range__popUp .range__popUp--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 320px) {
  .range__popUp .range__popUp--list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 600px) {
  .range__popUp .range__popUp--list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.range__popUp .range__popUp--list .range__popUp--item {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 285px;
  height: 425px;
  position: relative;
  margin: 5px;
  margin-bottom: 10px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@media (min-width: 600px) {
  .range__popUp .range__popUp--list .range__popUp--item {
    margin: 2px 2px;
  }
}

@media (min-width: 736px) {
  .range__popUp .range__popUp--list .range__popUp--item {
    margin: 10px 30px;
  }
}

@media (min-width: 768px) {
  .range__popUp .range__popUp--list .range__popUp--item {
    margin: 10px 45px;
  }
}

@media (min-width: 900px) {
  .range__popUp .range__popUp--list .range__popUp--item {
    margin: 5px 4px;
  }
}

@media (min-width: 1200px) {
  .range__popUp .range__popUp--list .range__popUp--item {
    margin: 10px 5px;
  }
}

@media (min-width: 1400px) {
  .range__popUp .range__popUp--list .range__popUp--item {
    margin: 10px 7px;
  }
}

.range__popUp .range__popUp--list .range__popUp--item .flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.range__popUp .range__popUp--list .range__popUp--item .range__popUp--item:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.range__popUp .range__popUp--list .range__popUp--item .front-face,
.range__popUp .range__popUp--list .range__popUp--item .back-face {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
  border: 3px solid #0087c8;
  border-radius: 30px;
  background-color: #42515b;
}

.range__popUp .range__popUp--list .range__popUp--item .back-face p {
  text-align: center;
  margin: 10px 0 5px 0;
  text-transform: uppercase;
  color: #0087c8;
}

.range__popUp .range__popUp--list .range__popUp--item .back-face table {
  width: 100%;
}

.range__popUp .range__popUp--list .range__popUp--item .back-face table th {
  text-align: left;
  font-size: 15px;
  color: #0087c8;
  padding-top: 10px;
  padding-left: 10px;
}

.range__popUp .range__popUp--list .range__popUp--item .back-face table td {
  color: #000;
  font-size: 14px;
  text-transform: none;
  text-align: left;
  padding-left: 10px;
}

.range__popUp .range__popUp--list .range__popUp--item .back-face table td:nth-child(2n) {
  text-align: right;
  padding-right: 15px;
}

.range__popUp .range__popUp--list .range__popUp--item .front-face {
  padding-left: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: linear-gradient(45deg, #020006, #0f2035, #172e49);
}

.range__popUp .range__popUp--list .range__popUp--item .front-face h4 {
  margin: 30px 0 0 0;
  font-size: 24px;
  font-weight: bold;
  color: #0087c8;
}

.range__popUp .range__popUp--list .range__popUp--item .front-face .product-photo {
  height: 350px;
  width: 285px;
  margin-left: -45px;
}

.range__popUp .range__popUp--list .range__popUp--item .front-face .product-photo img {
  display: block;
  height: 80%;
  margin: auto;
  padding-top: 30px;
}

.range__popUp .range__popUp--list .range__popUp--item .front-face .product-photo .BP0025 {
  height: 60%;
  padding-top: 50px;
}

.range__popUp .range__popUp--item:hover .front-face {
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.range__popUp .range__popUp--item:hover .back-face {
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.range__popUp .modal-show {
  display: block;
}

.individual-orders h3 {
  line-height: 30px;
}

.individual-orders .flex__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.individual-orders .flex__conteiner p {
  margin: 30px 0;
}

@media (min-width: 320px) {
  .individual-orders .flex__conteiner p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 100;
    width: 100%;
    padding: 0 15px;
  }
}

@media (min-width: 736px) {
  .individual-orders .flex__conteiner p {
    padding: 0;
    font-size: 20px;
    line-height: 28px;
    font-weight: 200;
  }
}

@media (min-width: 813px) {
  .individual-orders .flex__conteiner p {
    width: 50%;
    font-size: 20px;
    line-height: 28px;
    font-weight: 200;
  }
}

.individual-orders .flex__conteiner .individual-orders__picture {
  margin: auto;
}

@media (min-width: 320px) {
  .individual-orders .flex__conteiner .individual-orders__picture {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 813px) {
  .individual-orders .flex__conteiner .individual-orders__picture {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 50%;
  }
}

.individual-orders .flex__conteiner .individual-orders__picture img {
  max-width: 80%;
  margin: auto;
  display: block;
}

.about-us .flex__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-us .flex__conteiner p.about-us--text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}

@media (min-width: 320px) {
  .about-us .flex__conteiner p.about-us--text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 100;
    padding: 0 15px;
  }
}

@media (min-width: 813px) {
  .about-us .flex__conteiner p.about-us--text {
    font-size: 20px;
    line-height: 28px;
    font-weight: 200;
    padding: 0;
    margin-top: 30px;
  }
}

.about-us .flex__conteiner p.about-us--reasons {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

@media (min-width: 320px) {
  .about-us .flex__conteiner p.about-us--reasons {
    font-size: 14px;
    line-height: 16px;
    font-weight: 100;
    width: 100%;
    padding: 0 15px;
  }
}

@media (min-width: 510px) {
  .about-us .flex__conteiner p.about-us--reasons {
    margin-bottom: 20px;
  }
}

@media (min-width: 813px) {
  .about-us .flex__conteiner p.about-us--reasons {
    font-size: 20px;
    line-height: 28px;
    font-weight: 200;
    width: 45%;
    padding: 0;
  }
}

.about-us .flex__conteiner .about-us__picture {
  display: none;
  max-height: 308px;
}

@media (min-width: 737px) {
  .about-us .flex__conteiner .about-us__picture {
    display: block;
  }
}

.about-us .flex__conteiner .about-us__picture img {
  height: 100%;
  margin: auto;
}

.main-footer {
  max-width: 1200px;
  margin: auto;
}

.main-footer .main-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

@media (min-width: 500px) {
  .main-footer .main-conteiner {
    padding-top: 0;
  }
}

@media (min-width: 570px) {
  .main-footer .main-conteiner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 813px) {
  .main-footer .main-conteiner {
    margin-bottom: 60px;
  }
}

.main-footer .main-conteiner .main-footer-conteiner {
  color: #0087c8;
  text-transform: none;
  display: block;
}

@media (min-width: 500px) {
  .main-footer .main-conteiner .main-footer-conteiner {
    padding-top: 0;
  }
}

@media (min-width: 736px) {
  .main-footer .main-conteiner .main-footer-conteiner {
    width: 40%;
  }
}

.main-footer .main-conteiner .main-footer-conteiner h3 {
  font-weight: bold;
}

@media (min-width: 320px) {
  .main-footer .main-conteiner .main-footer-conteiner h3 {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: 813px) {
  .main-footer .main-conteiner .main-footer-conteiner h3 {
    font-size: 22px;
    line-height: 24px;
  }
}

.main-footer .main-conteiner .main-footer-conteiner p {
  font-weight: bold;
}

@media (min-width: 320px) {
  .main-footer .main-conteiner .main-footer-conteiner p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (min-width: 813px) {
  .main-footer .main-conteiner .main-footer-conteiner p {
    font-size: 18px;
    line-height: 30px;
  }
}

.main-footer .main-conteiner .main-footer-conteiner a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

@media (min-width: 568px) {
  .main-footer .main-conteiner .map {
    width: 500px;
  }
}

@media (min-width: 667px) {
  .main-footer .main-conteiner .map {
    width: 300px;
  }
}

@media (min-width: 736px) {
  .main-footer .main-conteiner .map {
    width: 400px;
  }
}

@media (min-width: 1024px) {
  .main-footer .main-conteiner .map {
    width: 500px;
  }
}

@media (min-width: 1200px) {
  .main-footer .main-conteiner .map {
    width: 600px;
  }
}

.main-footer .main-conteiner .map iframe {
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=all.css.map */