* {
  -webkit-transition: 2s;
  transition: 2s;
}

html {
  background: linear-gradient(45deg, #020006, #0f2035, #172e49);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

html textarea, html input {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-contacts__item {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.conteiner {
  max-width: 1305px;
  margin: auto;
  /* header */
  /* 1st block */
  /* products */
}

.conteiner .header-conteiner {
  max-width: 1305px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  padding: 30px 15px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 320px) {
  .conteiner .header-conteiner .main-header-logo img {
    width: 130px;
  }
}

@media (min-width: 720px) {
  .conteiner .header-conteiner .main-header-logo img {
    width: 300px;
  }
}

.conteiner .header-conteiner .navigation {
  margin-left: auto;
}

@media (min-width: 1024px) {
  .conteiner .header-conteiner .contacts {
    margin-left: auto;
  }
}

@media (min-width: 1035px) {
  .conteiner .header-conteiner .contacts {
    margin-left: 0;
  }
}

@media (min-width: 320px) {
  .conteiner .header-conteiner .navigation,
  .conteiner .header-conteiner .contacts {
    display: none;
  }
}

@media (min-width: 813px) {
  .conteiner .header-conteiner .navigation,
  .conteiner .header-conteiner .contacts {
    display: block;
  }
}

.conteiner .header-conteiner .site-nav__active,
.conteiner .header-conteiner .site-cont__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conteiner .header-conteiner .site-contacts a {
  color: #0087c8;
  text-decoration: none;
}

.conteiner .header-conteiner .site-contacts li {
  font-size: 16px;
  border-radius: 35px;
  padding: 10px 20px;
  text-align: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.conteiner .header-conteiner .site-contacts li:hover, .conteiner .header-conteiner .site-contacts li:focus {
  background-color: rgba(71, 72, 73, 0.3);
}

.conteiner .header-conteiner .site-contacts li:hover a, .conteiner .header-conteiner .site-contacts li:focus a {
  color: #ffffff;
}

.conteiner .header-conteiner .site-contacts li:nth-last-child(1) {
  border: 2px solid #0087c8;
  border-radius: 35px;
  padding: 15px 28px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  opacity: 1;
}

.conteiner .header-conteiner .site-contacts li:nth-last-child(1):hover, .conteiner .header-conteiner .site-contacts li:nth-last-child(1):focus {
  background-color: #0087c8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.conteiner .header-conteiner .site-contacts li:nth-last-child(1):hover a, .conteiner .header-conteiner .site-contacts li:nth-last-child(1):focus a {
  color: #ffffff;
}

.conteiner .header-conteiner .site-contacts .reCall {
  margin-left: 15px;
}

.conteiner .header-conteiner .site-navigation a {
  color: #42515b;
  text-decoration: none;
}

.conteiner .header-conteiner .site-navigation li {
  font-size: 16px;
  border-radius: 35px;
  text-align: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.conteiner .header-conteiner .site-navigation li:hover, .conteiner .header-conteiner .site-navigation li:focus {
  background-color: rgba(71, 72, 73, 0.3);
}

.conteiner .header-conteiner .site-navigation li:hover a, .conteiner .header-conteiner .site-navigation li:focus a {
  color: #ffffff;
}

.conteiner .header-conteiner .site-navigation li a {
  padding: 0 15px;
}

.conteiner .promoution {
  background-image: url(../images/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  max-height: 660px;
  margin: auto;
  max-width: 1205px;
}

@media (min-width: 320px) {
  .conteiner .promoution {
    background-position: bottom;
  }
}

@media (min-width: 720px) {
  .conteiner .promoution {
    background-position: right;
  }
}

.conteiner .promoution h1 {
  font-weight: bold;
  color: #0087c8;
  padding-left: 45px;
}

@media (min-width: 320px) {
  .conteiner .promoution h1 {
    font-size: 25px;
    line-height: 30px;
  }
}

@media (min-width: 813px) {
  .conteiner .promoution h1 {
    font-size: 70px;
    line-height: 100px;
  }
}

.conteiner .promoution h3 {
  color: #ffffff;
  padding-left: 20px;
}

@media (min-width: 320px) {
  .conteiner .promoution h3 {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: 813px) {
  .conteiner .promoution h3 {
    font-size: 20px;
    line-height: 30px;
  }
}

.conteiner .promoution p {
  color: #42515b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 320px) {
  .conteiner .promoution p {
    font-size: 14px;
    line-height: 16px;
    text-transform: none;
    padding: 0 15px;
  }
}

@media (min-width: 813px) {
  .conteiner .promoution p {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0;
  }
}

.conteiner .products {
  margin: auto;
  max-width: 1205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 320px) {
  .conteiner .products {
    margin-top: 0;
  }
}

@media (min-width: 813px) {
  .conteiner .products {
    margin-top: 30px;
  }
}

@media (min-width: 375px) {
  .conteiner .products .owl-stage {
    margin-left: 33px;
  }
}

@media (min-width: 736px) {
  .conteiner .products .owl-stage {
    margin-left: 15px;
  }
}

@media (min-width: 800px) {
  .conteiner .products .owl-stage {
    margin-left: 30px;
  }
}

@media (min-width: 813px) {
  .conteiner .products .owl-stage {
    margin-left: 0;
  }
}

.conteiner .products .manufacture,
.conteiner .products .agrochemicals,
.conteiner .products .food-fluid,
.conteiner .products .industrial-fluid,
.conteiner .products .household-chemicals,
.conteiner .products .building-fluid,
.conteiner .products .auto-chemicals,
.conteiner .products .caps {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid #0087c8;
  border-radius: 30px;
}

@media (min-width: 320px) {
  .conteiner .products .manufacture,
  .conteiner .products .agrochemicals,
  .conteiner .products .food-fluid,
  .conteiner .products .industrial-fluid,
  .conteiner .products .household-chemicals,
  .conteiner .products .building-fluid,
  .conteiner .products .auto-chemicals,
  .conteiner .products .caps {
    max-width: 300px;
    min-height: 350px;
    margin-bottom: 0;
  }
}

@media (min-width: 550px) {
  .conteiner .products .manufacture,
  .conteiner .products .agrochemicals,
  .conteiner .products .food-fluid,
  .conteiner .products .industrial-fluid,
  .conteiner .products .household-chemicals,
  .conteiner .products .building-fluid,
  .conteiner .products .auto-chemicals,
  .conteiner .products .caps {
    max-width: 230px;
    min-height: 300px;
    margin-bottom: 0;
  }
}

@media (min-width: 736px) {
  .conteiner .products .manufacture,
  .conteiner .products .agrochemicals,
  .conteiner .products .food-fluid,
  .conteiner .products .industrial-fluid,
  .conteiner .products .household-chemicals,
  .conteiner .products .building-fluid,
  .conteiner .products .auto-chemicals,
  .conteiner .products .caps {
    max-width: 320px;
    min-height: 382px;
    margin-bottom: 10px;
  }
}

.conteiner .products .manufacture h3,
.conteiner .products .agrochemicals h3,
.conteiner .products .food-fluid h3,
.conteiner .products .industrial-fluid h3,
.conteiner .products .household-chemicals h3,
.conteiner .products .building-fluid h3,
.conteiner .products .auto-chemicals h3,
.conteiner .products .caps h3 {
  height: 66px;
  font-weight: bold;
  color: #0087c8;
  text-align: center;
}

@media (min-width: 320px) {
  .conteiner .products .manufacture h3,
  .conteiner .products .agrochemicals h3,
  .conteiner .products .food-fluid h3,
  .conteiner .products .industrial-fluid h3,
  .conteiner .products .household-chemicals h3,
  .conteiner .products .building-fluid h3,
  .conteiner .products .auto-chemicals h3,
  .conteiner .products .caps h3 {
    font-size: 20px;
    line-height: 18px;
    padding-top: 20px;
  }
}

@media (min-width: 813px) {
  .conteiner .products .manufacture h3,
  .conteiner .products .agrochemicals h3,
  .conteiner .products .food-fluid h3,
  .conteiner .products .industrial-fluid h3,
  .conteiner .products .household-chemicals h3,
  .conteiner .products .building-fluid h3,
  .conteiner .products .auto-chemicals h3,
  .conteiner .products .caps h3 {
    font-size: 24px;
    line-height: 26px;
    padding-top: 0px;
  }
}

.conteiner .products .manufacture p,
.conteiner .products .agrochemicals p,
.conteiner .products .food-fluid p,
.conteiner .products .industrial-fluid p,
.conteiner .products .household-chemicals p,
.conteiner .products .building-fluid p,
.conteiner .products .auto-chemicals p,
.conteiner .products .caps p {
  font-weight: 200;
  color: #42515b;
  padding: 0 15px;
  text-transform: none;
}

@media (min-width: 320px) {
  .conteiner .products .manufacture p,
  .conteiner .products .agrochemicals p,
  .conteiner .products .food-fluid p,
  .conteiner .products .industrial-fluid p,
  .conteiner .products .household-chemicals p,
  .conteiner .products .building-fluid p,
  .conteiner .products .auto-chemicals p,
  .conteiner .products .caps p {
    font-size: 14px;
    line-height: 16px;
    text-transform: none;
    padding: 0 15px;
  }
}

@media (min-width: 813px) {
  .conteiner .products .manufacture p,
  .conteiner .products .agrochemicals p,
  .conteiner .products .food-fluid p,
  .conteiner .products .industrial-fluid p,
  .conteiner .products .household-chemicals p,
  .conteiner .products .building-fluid p,
  .conteiner .products .auto-chemicals p,
  .conteiner .products .caps p {
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 0;
  }
}

.conteiner .products .manufacture {
  background-image: url(../images/pic-color.png);
  background-size: 25%;
  background-position-y: 90%;
  background-position-x: 90%;
  background-repeat: no-repeat;
}

.conteiner .products .food-fluid,
.conteiner .products .industrial-fluid,
.conteiner .products .household-chemicals,
.conteiner .products .building-fluid,
.conteiner .products .auto-chemicals,
.conteiner .products .agrochemicals {
  background-image: url(../images/pic1.png);
  background-size: 25%;
  background-position-y: 90%;
  background-position-x: 90%;
  background-repeat: no-repeat;
}

.conteiner .products .caps {
  background-image: url(../images/pic2.png);
  background-size: 45%;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.conteiner .products .owl-stage {
  margin-bottom: 30px;
}

.conteiner .products .owl-nav,
.conteiner .products .owl-dots {
  display: none;
}

/* other */
.range,
.range__popUp,
.individual-orders,
.about-us {
  max-width: 1205px;
  margin: auto;
}

@media (min-width: 320px) {
  .range,
  .range__popUp,
  .individual-orders,
  .about-us {
    margin-bottom: 30px;
  }
}

@media (min-width: 813px) {
  .range,
  .range__popUp,
  .individual-orders,
  .about-us {
    margin-bottom: 60px;
  }
}

.range h3,
.range__popUp h3,
.individual-orders h3,
.about-us h3 {
  font-weight: bold;
  color: #0087c8;
  margin: 0;
}

@media (min-width: 320px) {
  .range h3,
  .range__popUp h3,
  .individual-orders h3,
  .about-us h3 {
    font-size: 20px;
    line-height: 18px;
    text-align: center;
  }
}

@media (min-width: 813px) {
  .range h3,
  .range__popUp h3,
  .individual-orders h3,
  .about-us h3 {
    font-size: 30px;
    line-height: 14px;
  }
}

.range p,
.range__popUp p,
.individual-orders p,
.about-us p {
  color: #42515b;
  text-transform: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 320px) {
  .range p,
  .range__popUp p,
  .individual-orders p,
  .about-us p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 100;
    padding: 0 15px;
  }
}

@media (min-width: 414px) {
  .range p,
  .range__popUp p,
  .individual-orders p,
  .about-us p {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: 813px) {
  .range p,
  .range__popUp p,
  .individual-orders p,
  .about-us p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 200;
    padding: 0;
  }
}

.range {
  min-height: 350px;
  background-image: url(../images/range.png);
  background-repeat: no-repeat;
}

@media (min-width: 320px) {
  .range {
    background-size: 30%;
    background-position: bottom right;
  }
}

@media (min-width: 736px) {
  .range {
    background-position: bottom;
    background-position-x: 400px;
    min-height: 450px;
  }
}

@media (min-width: 813px) {
  .range {
    background-size: 45%;
    background-position: bottom left;
  }
}

.range p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 320px) {
  .range p {
    width: 100%;
    padding: 0 15px;
  }
}

@media (min-width: 813px) {
  .range p {
    width: 50%;
    margin-left: auto;
    padding: 0;
  }
}

.range__popUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

@media (min-width: 320px) {
  .range__popUp {
    padding-top: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 813px) {
  .range__popUp {
    padding-top: 60px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.range__popUp span {
  position: absolute;
}

@media (min-width: 320px) {
  .range__popUp span {
    top: -20px;
    left: 15px;
  }
}

@media (min-width: 667px) {
  .range__popUp span {
    top: -100px;
    left: 60px;
  }
}

@media (min-width: 813px) {
  .range__popUp span {
    top: -20px;
    left: 15px;
  }
}

.range__popUp span a {
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #0087c8;
  border-radius: 35px;
  padding: 15px 28px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  opacity: 1;
}

.range__popUp span a:hover, .range__popUp span a:focus {
  background-color: #0087c8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.range__popUp span a:hover a, .range__popUp span a:focus a {
  color: #ffffff;
}

.range__popUp .range__popUp--item {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 285px;
  min-height: 425px;
  width: 100%;
  position: relative;
  margin: 0 5px 10px 5px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.range__popUp .range__popUp--item .flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.range__popUp .range__popUp--item .range__popUp--item:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.range__popUp .range__popUp--item .front-face,
.range__popUp .range__popUp--item .back-face {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
  border: 3px solid #0087c8;
  border-radius: 30px;
  background-color: #42515b;
}

.range__popUp .range__popUp--item .back-face p {
  text-align: center;
  margin: 10px 0 5px 0;
  text-transform: uppercase;
  color: #0087c8;
}

.range__popUp .range__popUp--item .back-face table {
  width: 100%;
}

.range__popUp .range__popUp--item .back-face table th {
  text-align: left;
  font-size: 15px;
  color: #0087c8;
  padding-top: 10px;
  padding-left: 10px;
}

.range__popUp .range__popUp--item .back-face table td {
  color: #000;
  font-size: 14px;
  text-transform: none;
  text-align: left;
  padding-left: 10px;
}

.range__popUp .range__popUp--item .back-face table td:nth-child(2n) {
  text-align: right;
  padding-right: 15px;
}

.range__popUp .range__popUp--item .front-face {
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.range__popUp .range__popUp--item .front-face h4 {
  margin: 30px 0 0 0;
  font-size: 24px;
  font-weight: bold;
  color: #0087c8;
}

.range__popUp .range__popUp--item:hover .front-face {
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.range__popUp .range__popUp--item:hover .back-face {
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.range__popUp .modal-show {
  display: block;
}

.individual-orders {
  min-height: 350px;
  background-image: url(../images/individual.png);
  background-size: 30%;
  background-position: bottom;
  background-position-x: 90%;
  background-repeat: no-repeat;
}

@media (min-width: 320px) {
  .individual-orders p {
    width: 100%;
  }
}

@media (min-width: 813px) {
  .individual-orders p {
    width: 50%;
  }
}

.about-us {
  background-size: 40%;
  background-position: center;
  background-position-x: 10%;
  background-repeat: no-repeat;
}

@media (min-width: 320px) {
  .about-us {
    background-image: none;
  }
}

@media (min-width: 813px) {
  .about-us {
    background-image: url(../images/img-1.jpg);
    min-height: 350px;
  }
}

.about-us p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 320px) {
  .about-us p {
    width: 100%;
    padding: 0 15px;
  }
}

@media (min-width: 813px) {
  .about-us p {
    width: 50%;
    margin-left: auto;
    padding: 0;
  }
}

.main-footer {
  max-width: 1305px;
  margin-bottom: 40px;
}

.main-footer .main-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 813px) {
  .main-footer .main-conteiner {
    margin-bottom: 60px;
  }
}

.main-footer .main-conteiner .main-footer-conteiner {
  color: #0087c8;
  text-transform: none;
  display: block;
  padding: 30px;
}

@media (min-width: 736px) {
  .main-footer .main-conteiner .main-footer-conteiner {
    width: 40%;
  }
}

@media (min-width: 568px) {
  .main-footer .main-conteiner .main-footer-conteiner {
    padding: 0;
  }
}

.main-footer .main-conteiner .main-footer-conteiner h3 {
  font-weight: bold;
}

@media (min-width: 320px) {
  .main-footer .main-conteiner .main-footer-conteiner h3 {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: 813px) {
  .main-footer .main-conteiner .main-footer-conteiner h3 {
    font-size: 22px;
    line-height: 24px;
  }
}

.main-footer .main-conteiner .main-footer-conteiner p {
  font-weight: bold;
}

@media (min-width: 320px) {
  .main-footer .main-conteiner .main-footer-conteiner p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (min-width: 813px) {
  .main-footer .main-conteiner .main-footer-conteiner p {
    font-size: 18px;
    line-height: 30px;
  }
}

.main-footer .main-conteiner .main-footer-conteiner a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

@media (min-width: 568px) {
  .main-footer .main-conteiner .map {
    width: 40%;
  }
}

@media (min-width: 320px) {
  .main-footer .main-conteiner .map iframe {
    max-width: 300px;
  }
}

@media (min-width: 568px) {
  .main-footer .main-conteiner .map iframe {
    height: 100%;
    width: 100%;
    max-width: 500px;
  }
}
/*# sourceMappingURL=all.css.map */