.error{
    margin: auto;
    text-align: center;
    min-height: 550px;
    background-color: #42515b;

   h1{
    font-size: 30vh;
    color: white;
    display: block;
    } 

    p{
        color: white;
        margin-bottom: 60px;
    }
    span{
        font-size: 30px;
        color: red;
    }
    a{
        text-decoration: none;
        border: 2px solid #0087c8;
        color: #0087c8;
        text-transform: uppercase;
        border-radius: 35px;
        padding: 15px 28px;
        text-align: center;
        vertical-align: middle;
        align-items: center; 
        background-color: transparent;
        opacity: 1;
    
        &:hover,&:focus{
            background-color: #0087c8;
            box-sizing: border-box;
            cursor: pointer;
            color: white;
             a{
                color: white;
            }
        } 
    }
}
