* {
    transition: 2s;
}

$bg: linear-gradient(45deg, #020006, #0f2035, #172e49);
$white: #ffffff;
$gray: #42515b;
$grayLink: rgba(71, 72, 73, 0.3);
$blue: #0087c8;
$black: #000;

@mixin button ($color) {
    border: 2px solid $color;
    color: $color;
    text-transform: uppercase;
    border-radius: 35px;
    padding: 15px 28px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    align-items: center; 
    background-color: transparent;
    opacity: 1;

    &:hover,&:focus{
        background-color: $color;
        box-sizing: border-box;
        cursor: pointer;
        color: $white;
         a{
            color: $white;
        }
    }
}

// тел в header
@mixin links ($color) { 
    border-radius: 35px;
    padding: 10px 20px;
    text-align: center;
    vertical-align: middle;
    align-items: center; 
    box-sizing: border-box;

    &:hover,&:focus{
        background-color: $color;
         a{
            color: $white;
        }
    }
}

// кнопки в header
@mixin linksSmall ($color) {
    border-radius: 35px;
    text-align: center;
    vertical-align: middle;
    align-items: center; 
    box-sizing: border-box;

    &:hover,&:focus{
        background-color: $color;
         a{
            color: $white;
        }
    }
}

.visually-hidden:not(focus):not(active){
	position: absolute;

	width: 1px;
	height: 1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);	
	clip: rect(0 0 0 0);
	overflow: hidden;
}


html{
    background: $bg;
    font-family: 'Roboto', sans-serif;

    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    // scroll-behavior: smooth;

    textarea,input  {
        font-family: 'Roboto', sans-serif;
        font-size:16px
    }
}
ul{
    padding: 0;
    margin: 0;
    list-style: none; 
}

button{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.site-contacts__item {
    animation-iteration-count: infinite;
}

.conteiner {

    max-width: 1305px;
    margin: auto;
    padding: 0 10px;

    @media (min-width: 1025px){
        padding: 0;
    }

     /* header */

     .header-conteiner{
        width: 100%;
        box-sizing: border-box;

        margin: auto;
        padding: 30px 15px 5px 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .main-header-logo img{
            @media (min-width: 320px) {
                width: 130px;
            }
            @media (min-width: 720px){
                width: 300px;
            }
        }

        .navigation {
            margin-left: auto;
        }

        .contacts {
            @media (min-width: 1024px) {
                margin-left: auto;
            }
            @media (min-width: 1035px) {
                margin-left: 0;
            }
        }

        .navigation,
        .contacts {
            @media (min-width: 320px) {
                display: none;
            }
            @media (min-width: 1050px){
                    display: block;
                }
            }
        
        .site-nav__active,
        .site-cont__active  {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        .site-contacts{
            a{
                color: $blue;
                text-decoration: none;
            }
            li{
                cursor: pointer;
                font-size: 16px;
                @include links($grayLink);

                &:nth-last-child(1){
                    @include button ($blue); 
                }
            }
            .reCall{
                margin-left: 15px;
            }
            
        }    

        .site-navigation{
            a{
                color: $gray;
                text-decoration: none;
            }
            li{
                cursor: pointer;
                font-size: 16px;
                @include linksSmall($grayLink);
                
                a{
                    padding: 0 15px;
                }
            }
        }
    }

     /* 1st block */


    .promoution {
        background-image: url(../images/bg.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        max-height: 660px;

        margin: auto;
        max-width: 1205px;

        @media (min-width: 320px) {
            background-position: bottom;
        }

        @media (min-width: 667px) {
            background-position: right;
        }

        h1 {

            font-weight: bold;
            color: $blue;
            padding-left: 20px;

            @media (min-width: 320px) {
                font-size: 25px;
                line-height: 30px;
            }

            @media (min-width: 813px) {
                font-size: 70px;
                line-height: 100px;
            }
        }

        h3{
            color: $white;
            padding-left: 20px;

            @media (min-width: 320px) {
                font-size: 16px;
                line-height: 20px;
            }

            @media (min-width: 813px) {
                font-size: 20px;
                line-height: 30px;
            }
        }

        p{
            color: $gray;
            box-sizing: border-box;

            @media (min-width: 320px) {
                font-size: 14px;
                line-height: 16px;
                padding: 0 15px;
            }

            @media (min-width: 813px) {
                font-size: 20px;
                line-height: 30px;

                padding: 0;
            }
        }
    }

     /* products */

    .products{
        // border: 2px solid red;
        margin: auto;
        max-width: 1205px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .owl-stage{

            @media (min-width: 375px) {
                margin-left: 33px;
            }

            @media (min-width: 736px) {
                margin-left: 15px;
            }
            @media (min-width: 800px) {
                margin-left: 30px;
            }
    
            @media (min-width: 813px) {
                margin-left: 0;
            }
        }

        .manufacture,
        .agrochemicals,
        .food-fluid,
        .industrial-fluid,
        .household-chemicals,
        .building-fluid,
        .auto-chemicals,
        .medical_indastry,
        .caps{

            @media (min-width: 320px) {
                max-width: 300px;
                min-height: 350px;
                margin-bottom: 0;
            }
            @media (min-width: 550px) {
                max-width: 230px;
                min-height: 300px;
                margin-bottom: 0;
            }

            @media (min-width: 736px) {
                max-width: 320px;
                // min-height: 382px;
            }

            h3{
                height: 66px;
                font-weight: bold;
                color: $blue;
                text-align: center;
                line-height: 30px;

                @media (min-width: 320px) {
                    font-size: 20px;
                    padding-top: 20px;
                }
    
                @media (min-width: 813px) {
                    font-size: 24px;
                    padding-top: 0px;
                }
            }

        }
    
        .manufacture{
            .picture__conteiner{
                background-color: $white;
                border: 3px solid $blue;
                border-radius: 50%;
                width: 260px;
                height: 260px;
                margin: auto;

                @media (min-width: 320px) {
                    width: 200px;
                    height: 200px;
                }
                @media (min-width: 550px) {
                    width: 200px;
                    height: 200px;
                }
                img{
                    width: 45%;
                    display: block;
                    margin: auto;
                    margin-top: 15%;
                }
            }
        }
        
        .food-fluid,
        .industrial-fluid,
        .household-chemicals,
        .building-fluid,
        .auto-chemicals,
        .medical_indastry,
        .agrochemicals{

            .picture__conteiner{
                background-color: $white;
                border: 3px solid $blue;
                border-radius: 50%;
                width: 260px;
                height: 260px;
                margin: auto;

                @media (min-width: 320px) {
                    width: 200px;
                    height: 200px;
                }
                @media (min-width: 550px) {
                    width: 200px;
                    height: 200px;
                }

                img{
                    width: 56%;
                    display: block;
                    margin: auto;
                    margin-top: 15%;
                }
            }
        }
        
        .owl-stage {
            margin-bottom: 30px;
        }

        .owl-nav,
        .owl-dots {
            display: none;
        }
    }
}

/* other */
.range,
.range__popUp,
.individual-orders,
.about-us {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 30px;

    h3{
        font-weight: bold;
        color: $blue;
        margin: 0;
        padding: 10px;

        @media (min-width: 320px) {
            font-size: 20px;
            line-height: 18px;
            text-align: center;
        }

        @media (min-width: 813px) {
            font-size: 30px;
            line-height: 14px;
        }
    }

    p{
        color: $gray;
        text-transform: none;
        box-sizing: border-box;
    }
}
.range{

    .flex__conteiner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        p{
            margin: 30px 0;
            padding-left: 15px;

            @media (min-width: 320px) {
                font-size: 14px;
                line-height: 16px;
                font-weight: 100;

                width: 100%;
                padding: 0 15px;
            }

            @media (min-width: 736px) {
                width: 50%;
                padding: 0;
            }
    
            @media (min-width: 813px) {
                font-size: 20px;
                line-height: 28px;
                font-weight: 200;
                padding: 0;
            }
        } 

        .range__picture{
                margin: auto;

                @media (min-width: 320px) {
                    width: 100%;
                }
                @media (min-width: 736px) {
                    width: 50%;
                }

             img{
                max-width: 80%;
                margin: auto;
                display: block;
            } 
        }

       
    }
    
    button{
        cursor: pointer;
        display: block;
        color: $white;
        text-decoration: none;
        margin: auto;
        margin-top: 30px;

        @include button ($blue); 

        @media (min-width: 736px) {
            margin: 0;
        }
    }
}
.range__popUp{
    display: none;   

    .range__popUp--list {
        display: flex;
        flex-wrap: wrap;

        @media (min-width: 320px) {
            justify-content: center;
        }

        @media (min-width: 600px) {
            justify-content: flex-start;
        } 

            .range__popUp--item{
            display: block;
            box-sizing: border-box;
            min-width: 285px;
            height: 425px;
            position: relative;
            margin: 5px;
            margin-bottom: 10px;

            transform: scale(1);
            transition: transform 0.5s;
            transform-style: preserve-3d; 

            @media (min-width: 600px) {
                margin: 2px 2px;
            }
            @media (min-width: 736px) {
                margin: 10px 30px;
            }
            @media (min-width: 768px) {
                margin: 10px 45px;
            }
            @media (min-width: 900px) {
                margin: 5px 4px;
            }
            @media (min-width: 1200px) {
                margin: 10px 5px;
            }
            @media (min-width: 1400px) {
                margin: 10px 7px;
            }
            .flip{ 
                transform: rotateY(180deg);
            }

            .range__popUp--item:active{
                transform: scale(0.97);
                transition: transform 0.2s;
            }
            
            .front-face, 
            .back-face{
                position: absolute;
                backface-visibility: hidden; 
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;

                cursor: pointer;
                border: 3px solid #0087c8;
                border-radius: 30px;
                background-color: $gray;
            }    
            .back-face{
                p{
                    text-align: center;
                    margin: 10px 0 5px 0;
                    text-transform: uppercase;
                    color: $blue;
                }
                table {
                    width: 100%;

                    th {
                        text-align: left;
                        font-size: 15px;
                        color: $blue;
                        padding-top: 10px;
                        padding-left: 10px;
                        }
                        td {
                        color: $black;
                        font-size: 14px;
                        text-transform: none;
                        text-align: left;
                        padding-left: 10px;
                        }
                        td:nth-child(2n){
                        text-align: right;
                        padding-right: 15px;
                        }
                    }
                    
            }

            .front-face{
                padding-left: 45px;
                box-sizing: border-box;
                background: $bg;
            
                h4{
                    margin: 30px 0 0 0;
                    font-size: 24px;
                    font-weight: bold;
                    color: #0087c8;
                }
                .product-photo{
                    height: 350px;
                    width: 285px;
                    margin-left: -45px;

                    img{
                        display: block;
                        height: 80%;
                        margin: auto;
                        padding-top: 30px;
                    }

                    .BP0025{
                        height: 60%;
                        padding-top: 50px;
                    }
                }   
            }
        }
    
    }

    .range__popUp--item:hover {
        
        .front-face {
            transition: 2s;
            transform: rotateY(180deg)
        }
    } 
    .range__popUp--item:hover {
        .back-face {
            transition: 2s;
            transform: rotateY(360deg)
        }
    }

    .modal-show{
        display: block;
    }
}

.individual-orders{

    h3{
        line-height: 30px;
    }

    .flex__conteiner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        p{
            margin: 30px 0;

            @media (min-width: 320px) {
                font-size: 14px;
                line-height: 16px;
                font-weight: 100;

                width: 100%;
                padding: 0 15px;
            }

            @media (min-width: 736px) {
                width: 50%;
                padding: 0;
            }
    
            @media (min-width: 813px) {
                font-size: 20px;
                line-height: 28px;
                font-weight: 200;
            }
        } 

        .individual-orders__picture{
            margin: auto;

            @media (min-width: 320px) {
                width: 100%;
                order: 1;
            }

            @media (min-width: 736px) {
                order: -1;
                width: 50%;
            }

            img{
                max-width: 80%;
                margin: auto;
                display: block;
            }  
        }
        
    }
}
.about-us {
    .flex__conteiner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        p.about-us--text{

            box-sizing: border-box;
            width: 100%;
            margin: 0;
            margin-bottom: 10px;

            @media (min-width: 320px) {
                font-size: 14px;
                line-height: 16px;
                font-weight: 100;

                padding: 0 15px;
            }

            @media (min-width: 813px) {
                font-size: 20px;
                line-height: 28px;
                font-weight: 200;

                padding: 0;
                margin-top: 30px;
            }
        } 

        p.about-us--reasons{
            box-sizing: border-box;
            margin: 0;

            @media (min-width: 320px) {
                font-size: 14px;
                line-height: 16px;
                font-weight: 100;

                width: 100%;
                padding: 0 15px;
            }

            @media (min-width: 510px) {
                margin-bottom: 20px;
            }

            @media (min-width: 813px) {
                font-size: 20px;
                line-height: 28px;
                font-weight: 200;

                width: 45%;
                padding: 0;
            }
        } 

        .about-us__picture{
            display: none;
            max-height: 308px;

            @media (min-width: 510px) {
                display: block;
            }

            img{
                height: 100%;
                margin: auto;
            } 
        }  
    }
}
// FOOTER

.main-footer {
    max-width: 1200px;
    margin: auto;

    .main-conteiner{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
        width: 100%;

        @media (min-width: 500px) {
            padding-top: 0;
        }

        @media (min-width: 570px) {
            justify-content: space-between;
        }

        @media (min-width: 813px) {
            margin-bottom: 60px;
        }

        .main-footer-conteiner {
        color: $blue;
        text-transform: none;
        display: block;
        // padding: 30px;

        @media (min-width: 500px) {
            padding-top: 0;
        }

        @media (min-width: 568px) {
            // padding: 0;
        }

        @media (min-width: 736px) {
            width: 40%;

        }

            h3{
                font-weight: bold;

                @media (min-width: 320px) {
                    font-size: 16px;
                    line-height: 18px;
                }
    
                @media (min-width: 813px) {
                    font-size: 22px;
                    line-height: 24px;
                }
            }

            p{
                font-weight: bold;

                @media (min-width: 320px) {
                    font-size: 14px;
                    line-height: 20px;
                }
    
                @media (min-width: 813px) {
                    font-size: 18px;
                    line-height: 30px;
                }
            }

            a{
               text-decoration: none;
               color: $white;
               cursor: pointer;
            }
        }   

        .map{
            @media (min-width: 568px) {
                width: 500px;
            }
            @media (min-width: 667px) {
                width: 300px;
            }

            @media (min-width: 736px) {
                width: 400px;
            }

            @media (min-width: 1024px) {
                width: 500px;
            }

            @media (min-width: 1200px) {
                width: 600px;
            }

            iframe {
                height: 100%;
                width: 100%;
            }
        }
    }
}   




