* {
    transition: 2s;
}

$bg: rgb(39, 39, 38);
$white: #ffffff;
$gray: #42515b;
$grayLink: rgba(71, 72, 73, 0.3);
$blue: #0087c8;
$black: #000;

@mixin button ($color) {
    border: 2px solid $color;
    border-radius: 35px;
    padding: 15px 28px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    align-items: center; 
    background-color: transparent;
    opacity: 1;

    &:hover,&:focus{
        background-color: $color;
        box-sizing: border-box;
        cursor: pointer;
         a{
            color: $white;
        }
    }
}

@mixin fullCollorButton ($color) {
    border: 2px solid $color;
    border-radius: 35px;
    padding: 20px 38px;   
    background-color: $color;

    &:hover,&:focus{
        border: 2px solid $color;
        background-color: transparent;
        box-sizing: border-box;
         a{
        background-color: transparent;
        color: $blue;
        border: none;
        }
    }
    
}

// тел в header
@mixin links ($color) { 
    border-radius: 35px;
    padding: 10px 20px;
    text-align: center;
    vertical-align: middle;
    align-items: center; 
    box-sizing: border-box;

    &:hover,&:focus{
        background-color: $color;
         a{
            color: $white;
        }
    }
}

// кнопки в header
@mixin linksSmall ($color) {
    border-radius: 35px;
    text-align: center;
    vertical-align: middle;
    align-items: center; 
    box-sizing: border-box;

    &:hover,&:focus{
        background-color: $color;
         a{
            color: $white;
        }
    }
}

html{
    background: linear-gradient(45deg, #020006, #0f2035);
    font-family: 'Roboto', sans-serif;


    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none; 
}

.site-contacts__item {
    animation-iteration-count: infinite;
}

.conteiner {

    max-width: 1305px;
    margin: auto;

     /* header */

     .header-conteiner{
        max-width: 1305px;
        box-sizing: border-box;

        margin: auto;
        padding: 30px 15px 5px 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .main-header-logo img{
            width: 300px;
        }

        .navigation {
            margin-left: auto;
        }

        .site-nav__active,
        .site-cont__active  {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        .site-contacts{
            a{
                color: $blue;
                text-decoration: none;
            }
            li{
                font-size: 16px;
                @include links($grayLink);

                &:nth-last-child(1){
                    @include button ($blue); 
                }
            }
        }    

        .site-navigation{
            a{
                color: $gray;
                text-decoration: none;
            }
            li{
                font-size: 16px;
                @include linksSmall($grayLink);
                
                a{
                    padding: 0 15px;
                }
            }
        }
    }

     /* 1st block */


    .promoution {
        background-image: url(../images/bg.png);
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        width: 100%;
        max-height: 660px;

        margin: auto;
        max-width: 1205px;

        h1 {
            font-size: 70px;
            line-height: 100px;
            font-weight: bold;
            color: $blue;

            padding-left: 45px;
        }

        h3{
            padding-left: 45px;  
            color: $white;
        }

        p{
            color: $gray;
        }
    }

     /* products */

    .products{

        margin: auto;
        max-width: 1205px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .manufacture,
        .agrochemicals,
        .food-fluid,
        .industrial-fluid,
        .household-chemicals,
        .building-fluid,
        .auto-chemicals,
        .caps{
            box-sizing: border-box;
            max-width: 320px;
            min-height: 382px;
            width: 100%;
            cursor: pointer;
            margin-bottom: 10px;

            border: 3px solid $blue;
            border-radius: 30px;

            h3{
                height: 66px;
                font-size: 24px;
                line-height: 26px;
                font-weight: bold;
                color: $blue;
                text-align: center;
            }

            p{
                font-size: 20px;
                line-height: 22px;
                font-weight: 200;
                color: $gray;
                padding: 0 15px;
                text-transform: none;
            }
        }

        .caps{
            background-image: url(https://static.tildacdn.com/tild3937-3538-4562-b662-346539336530/Triple_Flyer_Side_2_.png);
            background-size: 45%;
            background-position: bottom right;
            background-repeat: no-repeat;   
         }
        .owl-nav,
        .owl-dots {
            display: none;
        }
    }
}

/* about-us */
.range,
.about-us {
    max-width: 1205px;
    margin: auto;

    h3{
        font-size: 16px;
        line-height: 14px;
        font-weight: bold;
        color: $blue;
    }

    p{
        font-size: 20px;
        line-height: 28px;
        font-weight: 200;
        color: $gray;
        padding: 0 15px;
        text-transform: none;
    }
}

.range{
    min-height: 400px;
    background-image: url(../images/range.png);
    background-size: 45%;
    background-position: bottom right;
    background-repeat: no-repeat; 
}


