$bg: rgb(39, 39, 38);
$white: #ffffff;
$gray: #42515b;
$grayLink: rgba(71, 72, 73, 0.3);
$blue: #0087c8;
$black: #000;

@mixin placeholder {
    &::-webkit-input-placeholder { @content; }
    &:-moz-placeholder           { @content; }
    &::-moz-placeholder          { @content; }
    &:-ms-input-placeholder      { @content; }  
  }

  @mixin button ($color) {
    border: 1px solid $color;
    border-radius: 35px;
    padding: 15px 28px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    align-items: center; 
    background-color: transparent;
    opacity: 1;

    &:hover,&:focus{
        transition: 2s;
        background-color: $gray;
        box-sizing: border-box;
        cursor: pointer;
        color: $white;
        border: 1px solid $white;

    }
}

* {
    transition: 0s;
}



.modal__background {
    // display: none;
    background: #000;
    height: 100%;
    opacity: 0.4;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}
.modal {
    z-index: 200;
    // display: none;
    color: #fff;
    position: fixed;
    top: 0;
    left: 40%;
    background-color: $blue;
    margin: auto;
    margin-top: 20%;



        h3{
            padding: 10px;
            text-align: center;
        }

        .form{

            .form__conteiner{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                margin-bottom: 10px;

                input {
                    display: block; 
                    margin: auto;
                    width: 80%;
                   
                    margin-bottom: 10px;
                    border: none;
                    // background: transparent;
                    background-color: $gray;

                    border-bottom: 2px solid $black;
                    padding-bottom: 5px;
                    
                   
                    @include placeholder {
                        color: $black;
                        text-indent: 5px;
                    }
                }
            }

            .form-group{

                textarea{
                    position: relative;
                    display: block; 
                    max-width: 360px;
                    width: 80%;
                    margin: auto;
                    margin-bottom: 30px;

                    border: 1px solid $gray;
                    // background: transparent;
                    background-color: $gray;
                    border-bottom: 2px solid $black;
                    padding-bottom: 5px;

                    @include placeholder {
                        color: $black;
                        text-indent: 5px;
                    }                   
                }
            }

            .btn{
                display: block;
                margin: auto;
                margin-bottom: 30px;
                @include button ($black); 
            }
        }

        .modal-form-close {
            position: absolute;
            top: -10px;
            right: -10px;
            width: 30px;
            height: 30px;
            font-size: 0;
            cursor: pointer;
            border: 0;
            background-color: $blue;
            border-radius: 50%;
        }
}


.modal-show {
    display: block;
  }